@font-face {
    font-family: 'Amiri Quran';
    /* Use a relative path to the local font file in `url()`. */
    src: url('./CustomFont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }