---



---
<!-- 
<script src="./pwa.ts"></script>
<div
    id="pwa-toast"
    role="alert"
    aria-labelledby="toast-message"
class="sl-flex primary"
>


    <div class="message">
      <span id="toast-message"></span>
  
    </div>
    <button id="pwa-refresh">
      تحديث     
    </button>
    <button id="pwa-close">
      إغلاق     
    </button>
</div>



<style>
#pwa-toast {
  visibility: hidden;
  position: relative;

  border: 1px solid var(--sl-color-gray-4) ;

margin-left: 0px !important;
  text-align: right;
z-index: 1;
}
#pwa-toast .message {

  margin-left: 8px;
}
#pwa-toast button {
  border: 1px solid var(--sl-color-accent-high);
  cursor: pointer ;
  outline: none;
  border-radius: 2px;
 color: var(--sl-color-accent-high);
 background-color: var(--sl-color-gray-6);
}
#pwa-toast.show {
  visibility: visible;
}
button#pwa-refresh {
  display: none;
}
#pwa-toast.show.refresh button#pwa-refresh {
  display: inline-block;
}

</style> -->