---

---







<!-- <select  id="choose-colors">
    <option value="--sl-color-accent-low">
      --sl-color-accent-low
    </option>
    <option value="--sl-color-accent">
      --sl-color-accent
    </option>
    <option value="--sl-color-accent-high">
      --sl-color-accent-high
    </option>
<option value="--sl-color-white">
      --sl-color-white
    </option>
<option value="--sl-color-gray-1">
      --sl-color-gray-1
    </option>
    <option value="--sl-color-gray-2">
      --sl-color-gray-2
    </option>
    <option value="--sl-color-gray-3">
      --sl-color-gray-3
    </option>
    <option value="--sl-color-gray-4">
      --sl-color-gray-4
    </option> <option value="--sl-color-gray-5">
      --sl-color-gray-5
    </option> </option> <option value="--sl-color-gray-6">
      --sl-color-gray-6
    </option>
  </option> <option value="--sl-color-black">
    --sl-color-black
  </option>

  </select> -->


<!-- 
<lucid-color-picker dir="ltr" mode="hsla"><lucid-color-picker>
<script>
    import 'lucid-color-picker'
    const picker = document.querySelector('lucid-color-picker') as HTMLInputElement | null;
    var r = document.querySelector(':root') as HTMLInputElement | null;
    const choosecolors = document.getElementById('choose-colors') as HTMLInputElement | null;
    var cssvar = "--c-font-color";

 picker?.addEventListener('change', () => {
   
   if (choosecolors?.value == "--sl-color-accent-low") {
 cssvar = '--c-sl-color-accent-low'

}else if (choosecolors?.value == "--sl-color-accent") {
 cssvar = '--c-sl-color-accent'


}
else if (choosecolors?.value == "--sl-color-accent-high") {
 cssvar = '--c-sl-color-accent-high'


}else if (choosecolors?.value == "--sl-color-white") {
 cssvar = '--c-sl-color-white'


}else if (choosecolors?.value == "--sl-color-gray-1") {
 cssvar = '--c-sl-color-gray-1'


}else if (choosecolors?.value == "--sl-color-gray-2") {
 cssvar = '--c-sl-color-gray-2'


}else if (choosecolors?.value == "--sl-color-gray-3") {
 cssvar = '--c-sl-color-gray-3'


}else if (choosecolors?.value == "--sl-color-gray-4") {
 cssvar = '--c-sl-color-gray-4'


}
else if (choosecolors?.value == "--sl-color-gray-5") {
 cssvar = '--c-sl-color-gray-5'


}
else if (choosecolors?.value == "--sl-color-gray-6") {
 cssvar = '--c-sl-color-gray-6'


}else if (choosecolors?.value == "--sl-color-black") {
 cssvar = '--c-sl-color-black'


}


;


  //  console.log(`Color changed to ${picker.value}`); 

   r?.style.setProperty(cssvar, picker.value);

   localStorage.setItem(cssvar, picker.value);
 });
 </script>
 -->
